* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color:#333;
}

.main-contents-container {
    padding: 8px 0;
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
    max-height: 60%;
    overflow: hidden;
}

.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content {
    max-height: 40%;
}

.card.horizontal.small .card-image,
.card.horizontal.medium .card-image,
.card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
}

.card.horizontal.small .card-image img,
.card.horizontal.medium .card-image img,
.card.horizontal.large .card-image img {
    height: 100%;
}

.card.horizontal .card-image {
    max-width: 50%;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: auto;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}

.imgbox {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imgbox .box-cover {
    line-height: 1em;
    font-size: 0;
}

.imgbox img {
    backface-visibility: hidden;
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    width: 100%;
}

.imgbox .box-details {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
}

.imgbox .box-details::before {
    content: '';
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: -15px;
    opacity: 0.7;
    background: linear-gradient(to bottom, transparent, #000);
}

.imgbox .box-meta {
    transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transform: translate(0, 10%);
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    visibility: visible;
    position: relative;
    opacity: 0.9;
    z-index: 2;
}

.imgbox .box-meta .city,
.imgbox .box-meta .country {
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1em;
    color: #ffffff;
    margin: 0;
}

.imgbox .box-meta .city {
    font-size: 1.8rem;
    margin: 0 0 7.5px;
}

.imgbox .box-meta .country {
    font-size: 20px;
}

.imgbox .box-meta .citysummary {
    color: #ffffff;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 5px;
    margin-bottom: -20px;
    display: none;
    letter-spacing: 0.02em;
}

.imgbox:hover .box-details::before {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
}

.imgbox:hover .box-meta {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
}

.imgbox:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.imgbox:hover .box-meta .citysummary {
    display: block !important;
}

/* 반응형 600px이하 모바일 기기 ///////////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
    .imgbox {
        border-radius: 50% !important;
        width: 135px !important;
        height: 135px !important;
    }

    .imgbox img {
        transition: none !important;
    }
    .imgbox .box-meta .city {
        font-size: 2rem;
    }

    .imgbox .box-meta .citysummary {
        display: block;
    }
}

.city-card-contents-div {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.city-card-contents-title {
    font-size: 24px;
    font-weight: 300;
    list-style:none;
}

.city-card-contents-subtitle {
    /* font-size: 0.9rem; */
    margin: 8px 0 !important;
    /* font-weight: 400; */
    color: #333;
}

.main-contents-container {
    padding: 8px 0;
}


.citynamefont {
    font-size: 1.4rem;
    /* font-weight: 600; */
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 반응형 1600px이하 600px이상 노트북 */
@media (max-width: 1600px) and (min-width: 600px) {
       .citynamefont h6 {
        margin: 0 !important;
    }
       .citynamefont {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

/* modal css */
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
}

#modal-close-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal_content{
    width:800px;
    height:450px;
    background:#fff;
    border-radius:10px;
    text-align:center;
    box-sizing:border-box;
    padding:74px 0;
    line-height:23px;
    cursor:pointer;
}
