<style>
@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

/* header */
header {
    display: absolute;
    height: 90px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

ul li {
    list-style: none;
}

.header_logo {
    margin-left: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 12px;
}

.navbar-menu {
    display: flex;
}


.navbar-menu > li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 0;

    padding: 12px 15px;
}


.navbar-menu > li > a:hover {
    color: orange;
    transition-duration: 0.3s;
}


.navbar-login {
    display: flex;
    margin-right: 15px;
}

.navbar-login > li{
    padding-left: 0;
    font-family: "Inter";
    font-size: 16px;
}


.navbar-login li {
    padding: 12px 15px;
}

.navbar-login > li > a:hover {
    color: orange;
    transition-duration: 0.3s;
}

.navbar-toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-login {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar-toggleBtn {
        display: block;
    }

    .navbar-login.active.
    .navbar-menu.active {
        display: flex;
    }
}

footer {
    text-align: center;
}

.footer-link {
    margin-top: 40px;
}

</style>
