<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/chooseCountry.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>Title</title>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- header -->
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href="/planningMap"> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class = "navbar-login">
            <li id = "navbar_login"><a href="/login"> Login </a></li>
            <li id = "navbar_mypage"><a href="/mypage"> mypage </a></li>
            <li id = "navbar_logout"><a href="#" onclick="logout()"> LOGOUT </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>
<div class="planning-title">
    <h2>Step 1. 여행지 정하기</h2>
</div>
<div class="select-country">
    <form action="chooseCountry/selectCounty" method="POST" id="searchPost">
        검색 <input type="search" name="countryKeyword">
        <button class="btn-primary" type="button" onclick="search()">Go!</button>
    </form>
</div>
<div class="main-contents-container">
    <div class="city-list">
        <table>
            <tr th:each="city : ${cityList}">
                <td>
                    <a th:onclick="setSpotModel([[${city.korName}]]);" style="color:inherit!important;text-decoration: none!important;" href="#modal-city-detail">
                    <div class="card-image imgbox">
                        <img th:src="${city.imgPath}" alt="city" loading="lazy">
                    </div>
                    <div class="city-card-contents-div">
                        <li class="city-card-contents-title">
                            <div class="citynamefont">
                                <b>[[${city.cityName}]]</b><br>
                                <h6 class="city-card-contents-subtitle">
                                    [[${city.korName}]]</h6>
                            </div>
                        </li>
                    </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal">
    <div class="modal_background">
        <div class="modal_content"
            title="Modal">
            여기에 모달창 내용을 적어줍니다. <br>
            <form action="/planningCity" method="post">
                <input type="text" id="city_name" name="cityName" style="display:none">
                <input type="text" name="daterange" id="dateRange" placeholder="날짜 선택"/>
                <button type="button" id="planning-btn" onclick="planning()"> 여행 계획하기 </button>
            </form>
            <button type="button" id="modal-close-btn" onclick="popClose()"> X </button>
        </div>
    </div>
</div>


<!-- footer -->
<footer>
    <div class = "footer-link">
        <a href = " "> 이용약관 </a>
        <a href = " "> 개인정보처리 </a>
        <a href = " "> 신고/문의 </a>
        <a href = " "> 이메일문의 </a>
    </div>
    <p> Copyright © <strong class = "page-name"> grue </strong> All rights reserved. </p>
</footer>
<script type="text/javascript" src="/js/postSearchCommunity.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/loginService.js"></script>
<!-- date range picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</body>
</html>
