<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- header -->
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href=""> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class="navbar-login">
            <li id="navbar_login"><a href="/login"> Login </a></li>
            <li id="navbar_mypage"><a href="/mypage"> mypage </a></li>
            <li id="navbar_logout"><a href="#" onclick="logout()"> LOGOUT </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>

<div class = "board">
    <div class = "board-title">
        <h2> 자유 게시판</h2>
    </div>
    <div class = "board-inline">
        <div class= "board-switch">
            <a th:href = "@{'/community'(category=자유)}">자유</a>
            <a th:href = "@{'/community'(category=정보공유)}">정보 공유</a>
            <a th:href = "@{'/community'(category=질문)}">질문</a>
            <a th:href = "@{'/community'(category=후기)}">후기</a>
        </div>

        <div class = "board-search">
            <from th:action="@{/community/search}" method="POST" id="searchPost">
                <button type = "button"> 내용 + 제목 </button>
                <input class = "board-search-content" type="text" name="keyword">

                <button id="search-btn" onclick="search()">검색하기</button>
           </from>
        </div>

        <div class = "board-table">
            <table>
                <th> 분류 </th>
                <th> 글쓴이 </th>
                <th> 제목 </th>
                <th> 날짜 </th>
                <th> 조회수 </th>
                <tr th:each = "writing : ${writingList}">
                    <td><a th:href = "@{'/community'(category=${writing.category})}">[[${writing.category}]]</a></td>
                    <td th:text = "${writing.author}"></td>
                    <td><a th:href="'/community/postDetail/'+${writing.id}" th:text = "${writing.title}"></a></td>
                    <td th:text = "${writing.modifiedDate}"></td>
                    <td th:text = "${writing.views}"></td>
                </tr>
            </table>
            <!--page-->
            <!-- Pagination -->
            <div style="margin: 10px">
            <span th:each="pageNumber : ${pageList}" th:inline="text">
                <a th:href="@{'/community/?page=' + ${pageNumber}}">[[${pageNumber}]]</a>
            </span>
                <!-- 글쓰기 버튼 -->
                <a style="float: right" id="btn-write" href="/write">글쓰기</a>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class = "footer-link">
        <a href = " "> 이용약관 </a>
        <a href = " "> 개인정보처리 </a>
        <a href = " "> 신고/문의 </a>
        <a href = " "> 이메일문의 </a>
    </div>
    <p> Copyright © <strong class = "page-name"> grue </strong> All rights reserved. </p>
</footer>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/LimitWritingInCommunity.js"></script>
<script type="text/javascript" src="/js/loginService.js"></script>
<script type="text/javascript" src="/js/postSearchCommunity.js"></script>
</body>
</html>
