<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="css/community.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="js/removeData.js"></script>
<!-- header -->
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href=""> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class = "navbar-login">
            <li><a href="/login"> Login </a></li>
            <li><a href=""> 공지사항 </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>

<form id = "signin_submit">
    <a href="/signup"> 회원가입 </a> <br>
    <input type="text" id = "email" name = "email"><br>
    <input type ="password" id = "password" name = "password"><br>
    <label><input type="checkbox" id = "continue_login" onclick="is_login_checked()"> 로그인 유지 </label>
    <button type = "button" id = "signup_button"> 로그인 </button>
    <a href=""> ID/PW 찾기 </a>
</form>


<script type="text/javascript" src="js/login.js"></script>
</body>
</html>
