<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- header -->
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href=""> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class = "navbar-login">
            <li id = "navbar_login"><a href="/login"> Login </a></li>
            <li id = "navbar_mypage"><a href="/mypage"> mypage </a></li>
            <li id = "navbar_logout"><a href="#" onclick="logout()"> LOGOUT </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>

<div class="starter-template">

    <table class ="table table-bordered">
        <thead>
            <caption>글 읽기</caption>
        </thead>

        <tbody>
            <tr>
                <th>제목</th>
                <td th:text="${boardDto.title}"></td>
            </tr>

            <tbody>
                <tr>
                    <th>작성자</th>
                    <td th:text="${boardDto.author}" id="post-author"></td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td th:inline="text" th:text="${boardDto.modifiedDate}"></td>
                </tr>
                <tr>
                    <th>본문 내용</th>
                    <td th:text="${boardDto.content}"></td>
                </tr>
            </tbody>
        </table>

        <div>
            <a th:href="@{'/community/postUpdate/' + ${boardDto.id}}">
            <button id="edit-btn">수정</button>
            </a>
            <form id="delete-form" th:action="@{'/community/postUpdate/' + ${boardDto.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button class="btn btn-warning" id="delete-btn">삭제</button>
            </form>
        </div>
    </div>
</main>

<footer>
    <div class = "footer-link">
        <a href = " "> 이용약관 </a>
        <a href = " "> 개인정보처리 </a>
        <a href = " "> 신고/문의 </a>
        <a href = " "> 이메일문의 </a>
    </div>
    <p> Copyright © <strong class = "page-name"> grue </strong> All rights reserved. </p>
</footer>
<script th:inline="javascript"> var postAuthor = [[${boardDto.author}]]; </script>
<script type="text/javascript" th:inline="javascript" src="/js/preventEditNotAuthor.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/loginService.js"></script>
</body>
</html>
