<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/header_footer.css">
    <link rel="stylesheet" type="text/css" href="css/signup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="js/prevent_back_navigation_service.js"></script>
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href=""> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class = "navbar-login">
            <li><a href="/login"> Login </a></li>
            <li><a href=""> 공지사항 </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>
<form action="signup" method="post" id="signupForm">
    닉네임 : <input type="text" id="username" name="username"><br>
    전화번호 : <input type="text" id="telephone_number" name="phoneNumber" oninput="hypen(this)" maxlength="13"> <br>
    <button type = "button" id="sms_authentication" onclick="sendMessage()"> 문자 인증 </button>
    <input type = "text" id="sms_auth_code" style="display:none">
    <button type = "button" id="sms_auth_check" onclick="smsAuthenticationCheck()" style="display:none"> 인증하기 </button> <br>
    아이디 : <input type="text" id = "user_email" name = "email" onchange="verifyEmail(this)" required>
    <div id="email-notice"> 올바른 이메일 주소를 입력해주세요.</div>
    <button type="button" id="id_overlap_button" onclick="isEmailDuplicate()">중복검사</button><br>
    비밀번호 : <input type="password" id="user_password" name = "password" onchange="verifyPassword(this)"><br>
    <p id="password_notice"></p>
    비밀번호 : <input type="password" id="user_correct_password" onchange="isSamePassword(this)"><br>
    <button type="button" id="signup-save" onclick="save_info()">저장하기</button>
    <button type="button" id="signup-submit">가입하기</button>
</form>

<script type="text/javascript" src="js/signup_validation.js"></script>
<script type="text/javascript" src="js/signupService.js"></script>
</body>
</html>
