<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/write.css">
    <link rel="stylesheet" type="text/css" href="css/header_footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="d834cf5d0d" crossorigin="anonymous">
    <title>write</title>
</head>
<body>
<!-- header -->
<header>
    <nav class = "navbar">
        <div class = "header_logo">
            <a class = "navbar-logo" href="/"><img src="/images/logo.png" width="80" alt="logo"/></a>
        </div>
        <div class = "menu">
            <ul class = "navbar-menu">
                <li><a href=""> PLANNING </a></li>
                <li><a href=""> NOTION </a></li>
                <li><a href=" "> GRUE </a></li>
                <li><a href=" "> Q&A </a></li>
                <li><a href="/community"> COMMUNITY </a></li>
            </ul>
        </div>
        <ul class = "navbar-login">
            <li><a href="/login"> Login </a></li>
            <li><a href=""> 공지사항 </a></li>
        </ul>
        <a href="#" class="navbar-toggleBtn"> <i class="fas fa-bars"></i> </a>
    </nav>
</header>

<form class = "write">
    <input type ="text" class = "title"  placeholder="제목"> <br>
    <input type = "text" class = "content" placeholder="내용을 입력하세요"><br>
    <input type = "file" class = "board-img"> <br>
    <input type = "submit" value = "글쓰기">
</form>

<footer>
    <div class = "footer-link">
        <a href = " "> 이용약관 </a>
        <a href = " "> 개인정보처리 </a>
        <a href = " "> 신고/문의 </a>
        <a href = " "> 이메일문의 </a>
    </div>
    <p> Copyright © <strong class = "page-name"> grue </strong> All rights reserved. </p>
</footer>

</body>
</html>
